    <h1>
        This is {{firstName}} {{lastName}}'s page
        {{!-- Authentication token is:  {{token}} --}}
    </h1>

    <div class="row">

        <div class="col-6">
            <h5>LEAVE SELECTION</h5>
            <form method="POST" action="/users" >
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="leaveType">
                        <option value="no select" selected>Leave Type</option>
                        <option value="annual">Annual</option>
                        <option value="casual">Casual</option>
                        <option value="maternity">Maternity</option>
                    </select>
                    </div>
                    <div class="col-auto my-1">
                        <input type="number" name="noOfDays" class="form-control">
                    </div>
                    <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

            <hr>

            <div class="counter">
                <p><strong>ANNUAL LEAVE: </strong>{{annual}} days left</p>
                <p><strong>CASUAL LEAVE: </strong>{{casual}} days left</p>
                <p><strong>MATERNITY LEAVE: </strong>{{maternity}} days left</p>
            </div>
        </div>
        
        <div class="col-6">
             <h5>LEAVE HISTORY</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Duration(days)</th>
                    </tr>
                </thead>
                <tbody>
                
                        {{#each allLeaves}}
                        <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.leaveType}}</td>
                        <td>07/06/2019</td>
                        <td>{{this.noOfDays}}</td>
                        </tr>    
                        {{/each}}

                </tbody>
            </table>

            
        </div>

        
    </div>