    <h1>
        This is {{user.firstName}} {{user.lastName}}'s page
        {{!-- Authentication token is:  {{token}} --}}
    </h1>

    <div class="row">

        <div class="col">
            <h5>LEAVE SELECTION</h5>
            <form method="POST" action="/users" >
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="leaveType">
                        <option value="no select" selected>Leave Type</option>
                        <option value="annual">Annual</option>
                        <option value="casual">Casual</option>
                        <option value="maternity">Maternity</option>
                    </select>
                    </div>
                    <div class="col-auto my-1">
                        <input type="number" name="noOfDays" class="form-control">
                    </div>
                    <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>

            <hr>

            <div class="counter">
                <p><strong>ANNUAL LEAVE: </strong>{{annual}} days left</p>
                <p><strong>CASUAL LEAVE: </strong>{{casual}} days left</p>
                <p><strong>MATERNITY LEAVE: </strong>{{maternity}} days left</p>
            </div>
<hr>
        {{#if user.isAdmin}}    
            <div class="approvelist">
                <h5>APPROVAL LIST</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Staff ID</th>
                                <th scope="col">Staff Name</th>
                                <th scope="col">Leave Type</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Duration(days)</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each allsubordinates}}
                            <form method="POST" action="/approval">
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{this.sub.staffID}}</td>
                                <td>{{this.sub.firstName}} {{this.sub.lastName}}</td>
                                <td>{{this.leave.leaveType}}</td>
                                <td>07/08/2019</td>
                                <td>{{this.leave.noOfDays}}</td>
                                <td>
                                    <span style="display: inline-block">
                                        <button type="Submit" name="approve">Approve</button>
                                        <button  type="Submit" name="reject">Reject</button>
                                    </span>
                                </td>
                            </tr> 
                            </form>   
                            {{/each}}

                        </tbody>
                    </table>
            </div>
{{/if}}

        </div>

        <div class="col-5">
             <h5>LEAVE HISTORY</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Leave Type</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Duration(days)</th>
                        {{#if user.superStaffID}}
                        <th scope="col">Status</th>
                         {{/if}}
                    </tr>
                </thead>
                <tbody>

                        {{#if user.superStaffID}}
                        {{#each allLeaves}}
                            <tr>
                            <th scope="row">{{@index}}</th>
                            <td>{{this.leaveType}}</td>
                            <td>07/06/2019</td>
                            <td>{{this.noOfDays}}</td>
                            <td>Pending</td>
                            </tr>                      
                        {{/each}}

                        {{else}}
                            {{#each allLeaves}}
                            <tr>
                            <th scope="row">{{@index}}</th>
                            <td>{{this.leaveType}}</td>
                            <td>07/06/2019</td>
                            <td>{{this.noOfDays}}</td>
                            
                            </tr>                      
                        {{/each}}
                        {{/if}}
                </tbody>
            </table>

            
        </div>

        
    </div>

    <script></script>